.welcome-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* min-height: 100vh;  */
  padding-top: 10px;
  padding-bottom: 10px;
  /* min-height: 100vh; */
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20vh;
  margin-left: 20vh;
  border-radius: 25px;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
  /* background-color: white; */
}
